@model PlataformaWEB.Models.Facility

@{
    ViewData["Title"] = "Facilities";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/mainbody.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.css" />

<script>
    function NewFacility() {
        $("#new-FIDs").css("display", "flex");
        $("#dropdown-FIDs").css("display", "none");
        $("#buttonCancel").css("display", "inline-block");
        $("#buttonSubmit").css("display", "inline-block");
        CleanFields();
    }

    function CleanFields() {
        $('#fid-id').val("");
        $('#fid-name').val("");
        $('#fid-description').val("");
        $('#fid-address').val("");
        $('#fid-zipcode').val("");
        $('#fid-city').val("");
        $('#fid-country').val("");
        $('#fid-activefrom').val("");
    }

    function getFIDs(value) {
        var modelId = value.options[value.selectedIndex].text;
        CleanFields();

        var row = $('#comboFID').val();
        $.ajax({
            cache: false,
            type: 'GET',
            dataType: "json",
            url: '/ManagementController/SetFIDs',
            data: {
                eoid: modelId
            },
            success: function (response) {
                $.each(response, function (i,item) {
                    row += "<option value='" + item.value + "'>" + item.text + "</option>";
                });
                $('#comboFID').html(row);
            }
        });
    }

    function editFID(value) {
        var modelId = value.options[value.selectedIndex].text;
        CleanFields();
        $.ajax({
            cache: false,
            type: 'GET',
            url: '/ManagementController/EditFacility',
            data: {
                fid: modelId
            },
            success: function (response) {
                if (response.status == 'OK') {
                    var result = response.data
                    $('#fid-name').val(result.name);
                    $('#fid-description').val(result.description);
                    $('#fid-address').val(result.address);
                    $('#fid-zipcode').val(result.zipCode);
                    $('#fid-city').val(result.city);
                    $('#fid-country').val(result.country);
                    $('#fid-activefrom').val(result.activeFrom.substr(0, 10));
                }
                else {
                    CleanFields();
                }
            }
        })
    }

    $(document).ready(function () {
    var status = '@ViewBag.Status';
    if (status != '') {
        alert(status);
    }
    });

</script>

<h1 class="title">@ViewData["Title"]</h1>
<div class="sep"></div>

<div class="row">
    <form class="form-x" asp-controller="ManagementController" asp-action="Facility" method="post" enctype="multipart/form-data">
        <div id="msg_error" style="visibility:hidden;display:none;">
            <a class="close" data-dismiss="alert" aria-label="close" id="btnClosePopUp">x</a>
            <span style="text-align: left"></span>
        </div>
        <div class="row" id="content_data">
            <label class="col-2 control-label">EOIDs*</label>
            <div class="col-4">
                <select asp-for="EOID" placeholder="EconomicOperatorID" data-val-required="El campo EOIDs no debe estar vacío"
                        asp-items="@(new SelectList(ViewBag.EOIDs,"Value","Text"))" onchange="getFIDs(this)"></select>
                <span asp-validation-for="EOID" class="text-danger"></span>
            </div>
        </div>
        <div class="row" id="dropdown-FIDs">
            <label class="col-2 control-label">FIDs*</label>
            <div class="col-4">
                <select asp-for="Id" placeholder="FacilityID" id="comboFID" data-val-required="El campo FacilityID no debe estar vacío"
                        asp-items="@(new SelectList(ViewBag.FIDs,"Value","Text"))" onchange="editFID(this)"></select>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
        </div>
        <div class="row" id="new-FIDs">
            <label class="col-2 control-label">Id*</label>
            <div class="col-9">
                <input asp-for="NewId" placeholder="FacilityID" id="fid-id" data-val-required="El campo FacilityID no debe estar vacío" />
                <div class="row">
                    <span asp-validation-for="NewId" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row" id="content_data">
            <label class="col-2 control-label">Nombre*</label>
            <div class="col-9">
                <input asp-for="Name" placeholder="Nombre" id="fid-name" data-val-required="El campo Nombre no debe estar vacío" />
                <div class="row">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row" id="content_data">
            <label class="col-2 control-label">Descripción</label>
            <div class="col-9">
                <input asp-for="Description" placeholder="Descripción" id="fid-description" />
            </div>
        </div>
        <div class="row" id="content_data">
            <label class="col-2 control-label">Dirección*</label>
            <div class="col-9">
                <input asp-for="Address" placeholder="Dirección" id="fid-address" data-val-required="El campo Dirección no debe estar vacío" />
                <div class="row">
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row" id="content_data">
            <label class="col-2 control-label">CP*</label>
            <div class="col-2">
                <input asp-for="ZipCode" placeholder="Código Postal" id="fid-zipcode" data-val-required="El campo CP no debe estar vacío" />
                <div class="row">
                    <span asp-validation-for="ZipCode" class="text-danger"></span>
                </div>
            </div>
            <label class="col-1 control-label">Ciudad*</label>
            <div class="col-3">
                <input asp-for="City" placeholder="Ciudad" id="fid-city" />
                <div class="row">
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
            </div>
            <label class="col-1 control-label">País*</label>
            <div class="col-2">
                <select asp-for="Country" placeholder="País" id="fid-country" data-val-required="El campo País no debe estar vacío"
                        asp-items="@(new SelectList(ViewBag.Countries,"Value","Text"))"></select>
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
        </div>
        <div class="row" id="content_data">
            <label class="col-2 control-label">Activo desde</label>
            <div class="col-3 demo-section k-content" id="ppp">
                <div id="dtpickerSelect">
                    <input type="date" id="fid-activefrom" value="" asp-for="ActiveFrom" />
                    <span asp-validation-for="ActiveFrom" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row" id="content_data" style="margin-top:20px;">
            <div class="col-3" style="text-align:left">
                <button type="button" id="buttonNewOperator" class="btn btn-default" onclick="NewFacility()">
                    Nueva Facility
                </button>
            </div>
            <div class="col-7" style="text-align:right">
                <button type="button" id="buttonCancel" class="btn btn-default" style="display:none;" onclick="javascript:window.location.reload(false);">
                    Cancelar
                </button>
            </div>
            <div class="col-2" style="text-align:right">
                <button class="btn btn-primary" id="buttonSubmit" style="display:none;" type="submit">
                    <i class="fa fa-save"></i>
                    Guardar
                </button>
            </div>
        </div>
    </form>
</div>

<style>
    #buttonNewOperator {
        transition: all 0.2s ease 0s;
        background-color: lightgrey;
        color: black;
        font-family: "Baloo Thambi 2", sans-serif;
        font-weight: 400;
        text-decoration: none;
        padding: 7px 10px 7px 10px;
        font-size: 24px;
        outline: none;
    }

    #buttonNewOperator:hover {
        background-color: darkgrey;
        color: white;
        font-size: 24px;
    }

    #dropdown-FIDs {
        padding: 2px 5px 2px 5px;
        text-align: center;
        margin-left: 20px;
        margin-bottom: 40px;
    }

    #new-FIDs {
        padding: 2px 5px 2px 5px;
        text-align: center;
        margin-left: 20px;
        margin-bottom: 40px;
        display: none;
    }

</style>
