@model PlataformaWEB.Models.Invoice

@{
    ViewData["Title"] = "Crear Factura";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/mainbody.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.css" />

<h1 class="title">@ViewData["Title"]</h1>
<div class="sep"></div>

<script src="~/js/Serial.js"></script>

<script charset="UTF-8">

    $(document).ready(function () {
        changeBuyerType();
        var status = '@ViewBag.Status';
        if (status != '') {
            alert(status);
        }

    });

    function changeBuyerType() {
        if ($("#buyerEU").prop("checked")) {
            $("#buyerInEU").css("display", "block");
            $("#buyerNoEU").css("display", "none");
        } else {
            $("#buyerInEU").css("display", "none");
            $("#buyerNoEU").css("display", "block");
        }
    }
</script>

<div class="row">
    <form class="form-x" asp-controller="OperationsController" asp-action="Invoice" method="post" enctype="multipart/form-data">
        <div id="msg_error" style="visibility:hidden;display:none;">
            <a class="close" data-dismiss="alert" aria-label="close" id="btnClosePopUp">x</a>
            <span style="text-align: left"></span>
        </div>
        <div class="row" id="content_data">
            <label class="col-2 control-label">Id*</label>
            <div class="col-3">
                <input asp-for="Id" type="number" placeholder="Número de factura" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <label class="col-3 control-label">Fecha de facturación*</label>
            <div class="col-3 demo-section k-content" id="ppp">
                <div id="dtpickerSelect">
                    <input type="date" value="" asp-for="InvoiceDate" />
                    <span asp-validation-for="InvoiceDate" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row" id="content_data">
            <label class="col-2 control-label">Precio neto*</label>
            <div class="col-3">
                <input asp-for="Price" type="" placeholder="Precio neto" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <label class="col-2 control-label">Moneda*</label>
            <div class="col-2">
                <select asp-for="Currency" data-val-required="El campo Moneda no debe estar vacío"
                        asp-items="@(new SelectList(ViewBag.Currencies,"Value","Text"))"></select>
                <span asp-validation-for="Currency" class="text-danger"></span>
            </div>
        </div>
        <div class="sub">
            <label class="subtitle" style="text-align:left;">Información del comprador</label>
            <div class="sep"></div>
        </div>
        <div class="row" id="content_data">
            <label class="col-2 control-label">Comprador de EU</label>
            <div class="col-1">
                <input type="checkbox" checked="checked" id="buyerEU" asp-for="BuyerEU" placeholder="Nombre del comprador" onchange="changeBuyerType()" />
            </div>
        </div>
        <div id="buyerInEU">
            <div class="row" id="content_data">
                <label class="col-2 control-label">Facility*</label>
                <div class="col-4">
                    <select asp-for="BuyerID" class="dropdown-Facilities" data-val-required="El campo del ID del comprador no debe estar vacío"
                            asp-items="@(new SelectList(ViewBag.Facilities,"Value","Text"))"></select>
                    <span asp-validation-for="BuyerID" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div id="buyerNoEU">
            <div class="row" id="content_data">
                <label class="col-2 control-label">Nombre</label>
                <div class="col-4">
                    <input asp-for="BuyerName" placeholder="Nombre del comprador" />
                    <span asp-validation-for="BuyerName" class="text-danger"></span>
                </div>
                <label class="col-2 control-label">País</label>
                <div class="col-3">
                    <select asp-for="BuyerCountry" data-val-required="El campo País no debe estar vacío"
                            asp-items="@(new SelectList(ViewBag.Countries,"Value","Text"))"></select>
                    <span asp-validation-for="BuyerCountry" class="text-danger"></span>
                </div>
            </div>
            <div class="row" id="content_data">
                <label class="col-2 control-label">Dirección</label>
                <div class="col-4">
                    <input asp-for="BuyerAddress" placeholder="Dirección del comprador" />
                    <span asp-validation-for="BuyerAddress" class="text-danger"></span>
                </div>
                <label class="col-2 control-label">City</label>
                <div class="col-3">
                    <input asp-for="BuyerCity" placeholder="Ciudad del comprador" />
                    <span asp-validation-for="BuyerCity" class="text-danger"></span>
                </div>
            </div>
            <div class="row" id="content_data">
                <label class="col-2 control-label">Código postal</label>
                <div class="col-4">
                    <input asp-for="BuyerZipCode" placeholder="Código postal del comprador" />
                    <span asp-validation-for="BuyerZipCode" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="sub">
            <label class="subtitle" style="text-align:left;">Productos</label>
            <div class="sep"></div>
        </div>
        <div class="row" id="content_data">
            <label class="col-2 control-label">Añadir serial</label>
            <div class="col-5">
                <input placeholder="Serial" class="form-control" type="text" id="serialToAdd" />
            </div>
            <div class="col-3" style="text-align:left">
                <button type="button" id="buttonNewSerial" class="btn btn-default" onclick="AddSerialToList()">
                    Añadir
                </button>
            </div>
        </div>
        <div class="row" id="content_data">
            <div class="col-2 control-label">Seriales</div>
            <div class="col-5" style="height:380px">
                <select class="form-control" id="serials" style="height:350px" multiple ondblclick="removeSerial()">@ViewBag.Serials</select>
                <input type="hidden" asp-for="Serials" id="txthdnSerials" value="@ViewBag.JsonSerials" />
            </div>
            <div class="col-3" style="text-align:left">
                <button type="button" id="buttonRemoveSerial" class="btn btn-default" value="Remove selected" onclick="removeSerial()">
                    Eliminar seleccionado
                </button>
            </div>
        </div>
        <div class="row" id="content_data" style="margin-top:20px;">
            <div class="col-9" style="text-align:right">
                <button type="button" id="buttonCancel" class="btn btn-default" onclick="javascript:location.reload();">
                    Cancelar
                </button>
            </div>
            <div class="col-2" style="text-align:right">
                <button class="btn btn-primary" id="buttonSubmit" type="submit">
                    <i class="fa fa-save"></i>
                    Registrar
                </button>
            </div>
        </div>
    </form>
</div>

<style>
    #buttonNewSerial {
        transition: all 0.2s ease 0s;
        background-color: lightgrey;
        color: black;
        font-family: "Baloo Thambi 2", sans-serif;
        font-weight: 400;
        text-decoration: none;
        padding: 7px 10px 7px 10px;
        font-size: 20px;
        outline: none;
    }

        #buttonNewSerial:hover {
            background-color: darkgrey;
            color: white;
            font-size: 21px;
        }

    #buttonRemoveSerial {
        transition: all 0.2s ease 0s;
        background-color: lightgrey;
        color: black;
        font-family: "Baloo Thambi 2", sans-serif;
        font-weight: 400;
        text-decoration: none;
        padding: 7px 10px 7px 10px;
        font-size: 20px;
        outline: none;
    }

        #buttonRemoveSerial:hover {
            background-color: darkgrey;
            color: white;
            font-size: 21px;
        }

    #sel-facility {
        padding: 2px 5px 2px 5px;
        text-align: center;
        margin-left: 20px;
        margin-bottom: 40px;
    }

    #new-EOIDs {
        padding: 2px 5px 2px 5px;
        text-align: center;
        margin-left: 20px;
        margin-bottom: 40px;
        display: none;
    }

    #buyerNoEU {
        display: none;
    }
</style>
