@model PlataformaWEB.Models.Dispatch

@{
    ViewData["Title"] = "Registrar Envío";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/mainbody.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.css" />

<h1 class="title">@ViewData["Title"]</h1>
<div class="sep"></div>

<script src="~/js/Serial.js"></script>
<script src="~/js/Facility.js"></script>

<script>

    $(document).ready(function () {
        changeDestinationType()
    });

    function changeDestinationType() {
        if ($("#destinationEU").prop("checked")) {
            $("#destinationInEU").css("display", "block");
            $("#destinationNoEU").css("display", "none");
        } else {
            $("#destinationInEU").css("display", "none");
            $("#destinationNoEU").css("display", "block");
        }
    }
</script>

<div class="row">
    <form class="form-x" asp-controller="OperationsController" asp-action="Dispatch" method="post" enctype="multipart/form-data">
        <div id="msg_error" style="visibility:hidden;display:none;">
            <a class="close" data-dismiss="alert" aria-label="close" id="btnClosePopUp">x</a>
            <span style="text-align: left"></span>
        </div>
        <div class="row" id="content_data">
            <label class="col-2 control-label">Id*</label>
            <div class="col-3">
                <input asp-for="Facility" placeholder="Facility de envío*" />
                <span asp-validation-for="Facility" class="text-danger"></span>
            </div>
            <label class="col-3 control-label">Fecha de envío*</label>
            <div class="col-3 demo-section k-content" id="ppp">
                <div id="dtpickerSelect">
                    <input type="date" value="" asp-for="DispatchDate" />
                    <span asp-validation-for="DispatchDate" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row" id="content_data">
            <label class="col-2 control-label">Hora de envío*</label>
            <div class="col-3">
                <select asp-for="DispatchHour" data-val-required="El campo Hora no debe estar vacío">
                    <option value="">- Selecciona una hora -</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                </select>
                <span asp-validation-for="DispatchHour" class="text-danger"></span>
            </div>
        </div>
        <div class="sub">
            <label class="subtitle" style="text-align:left;">Información de la destinación</label>
            <div class="sep"></div>
        </div>
        <div class="row" id="content_data">
            <label class="col-2 control-label">Destinación en EU</label>
            <div class="col-1">
                <input type="checkbox" checked="checked" id="destinationEU" asp-for="DestinationEU" onchange="changeDestinationType()" />
            </div>
        </div>
        <div id="destinationInEU">
            <div class="row" id="content_data">
                <label class="col-2 control-label">Facility de destino en EU</label>
                <div class="col-5">
                    <input placeholder="Facility" class="form-control" type="text" id="facilityToAdd" />
                </div>
                <div class="col-3" style="text-align:left">
                    <button type="button" id="buttonNewFacility" class="btn btn-default" onclick="AddFacilityToList()">
                        Añadir
                    </button>
                </div>
            </div>
            <div class="row" id="content_data">
                <div class="col-2 control-label">Facilities</div>
                <div class="col-5" style="height:380px">
                    <select class="form-control" id="facilities" style="height:350px" multiple ondblclick="removeFacility()">@ViewBag.FacilitiesList</select>
                    <input type="hidden" asp-for="DestinationFacilities" id="txthdnFacilities" value="@ViewBag.JsonFacilities" />
                </div>
                <div class="col-3" style="text-align:left">
                    <button type="button" id="buttonRemoveFacility" class="btn btn-default" value="Remove selected" onclick="removeFacility()">
                        Eliminar seleccionado
                    </button>
                </div>
            </div>
        </div>
        <div id="destinationNoEU">
            <div class="row" id="content_data">
                <label class="col-2 control-label">Nombre</label>
                <div class="col-4">
                    <input asp-for="DestinationName" placeholder="Nombre del comprador" />
                    <span asp-validation-for="DestinationName" class="text-danger"></span>
                </div>
                <label class="col-2 control-label">País</label>
                <div class="col-3">
                    <select asp-for="DestinationCountry" data-val-required="El campo País no debe estar vacío"
                            asp-items="@(new SelectList(ViewBag.Countries,"Value","Text"))"></select>
                    <span asp-validation-for="DestinationCountry" class="text-danger"></span>
                </div>
            </div>
            <div class="row" id="content_data">
                <label class="col-2 control-label">Dirección</label>
                <div class="col-4">
                    <input asp-for="DestinationAddress" placeholder="Dirección del comprador" />
                    <span asp-validation-for="DestinationAddress" class="text-danger"></span>
                </div>
                <label class="col-2 control-label">City</label>
                <div class="col-3">
                    <input asp-for="DestinationCity" placeholder="Ciudad del comprador" />
                    <span asp-validation-for="DestinationCity" class="text-danger"></span>
                </div>
            </div>
            <div class="row" id="content_data">
                <label class="col-2 control-label">Código postal</label>
                <div class="col-4">
                    <input asp-for="DestinationZipCode" placeholder="Código postal del comprador" />
                    <span asp-validation-for="DestinationZipCode" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="sub">
            <label class="subtitle" style="text-align:left;">Información del transporte</label>
            <div class="sep"></div>
        </div>
        <div class="row" id="content_data">
            <label class="col-2 control-label">TransportMode*</label>
            <div class="col-2">
                <select asp-for="TransportMode" data-val-required="El campo Medio de transporte no debe estar vacío">
                    <option value="">- Selecciona -</option>
                    <option value="1">Carretera</option>
                    <option value="2">Aire</option>
                    <option value="3">Mar</option>
                </select>
                <span asp-validation-for="TransportMode" class="text-danger"></span>
            </div>
            <label class="col-2 control-label">Vehículo*</label>
            <div class="col-4">
                <input asp-for="Vehicle" placeholder="Vehículo" />
                <span asp-validation-for="Vehicle" class="text-danger"></span>
            </div>
        </div>
        <div class="sub">
            <label class="subtitle" style="text-align:left;">Productos</label>
            <div class="sep"></div>
        </div>
        <div class="row" id="content_data">
            <label class="col-2 control-label">Añadir serial</label>
            <div class="col-5">
                <input placeholder="Serial" class="form-control" type="text" id="serialToAdd" />
            </div>
            <div class="col-3" style="text-align:left">
                <button type="button" id="buttonNewSerial" class="btn btn-default" onclick="AddSerialToList()">
                    Añadir
                </button>
            </div>
        </div>
        <div class="row" id="content_data">
            <div class="col-2 control-label">Seriales</div>
            <div class="col-5" style="height:380px">
                <select class="form-control" id="serials" style="height:350px" multiple ondblclick="removeSerial()">@ViewBag.Serials</select>
                <input type="hidden" asp-for="Serials" id="txthdnSerials" value="@ViewBag.JsonSerials" />
            </div>
            <div class="col-3" style="text-align:left">
                <button type="button" id="buttonRemoveSerial" class="btn btn-default" value="Remove selected" onclick="removeSerial()">
                    Eliminar seleccionado
                </button>
            </div>
        </div>
        <div class="row" id="content_data" style="margin-top:20px;">
            <div class="col-9" style="text-align:right">
                <button type="button" id="buttonCancel" class="btn btn-default" onclick="javascript:location.reload();">
                    Cancelar
                </button>
            </div>
            <div class="col-2" style="text-align:right">
                <button class="btn btn-primary" id="buttonSubmit" type="submit">
                    <i class="fa fa-save"></i>
                    Registrar
                </button>
            </div>
        </div>
    </form>
</div>

<style>
    #buttonNewSerial {
        transition: all 0.2s ease 0s;
        background-color: lightgrey;
        color: black;
        font-family: "Baloo Thambi 2", sans-serif;
        font-weight: 400;
        text-decoration: none;
        padding: 7px 10px 7px 10px;
        font-size: 20px;
        outline: none;
    }

        #buttonNewSerial:hover {
            background-color: darkgrey;
            color: white;
            font-size: 21px;
        }

    #buttonRemoveSerial {
        transition: all 0.2s ease 0s;
        background-color: lightgrey;
        color: black;
        font-family: "Baloo Thambi 2", sans-serif;
        font-weight: 400;
        text-decoration: none;
        padding: 7px 10px 7px 10px;
        font-size: 20px;
        outline: none;
    }

        #buttonRemoveSerial:hover {
            background-color: darkgrey;
            color: white;
            font-size: 21px;
        }

    #buttonNewFacility {
        transition: all 0.2s ease 0s;
        background-color: lightgrey;
        color: black;
        font-family: "Baloo Thambi 2", sans-serif;
        font-weight: 400;
        text-decoration: none;
        padding: 7px 10px 7px 10px;
        font-size: 20px;
        outline: none;
    }

        #buttonNewFacility:hover {
            background-color: darkgrey;
            color: white;
            font-size: 21px;
        }

    #buttonRemoveFacility {
        transition: all 0.2s ease 0s;
        background-color: lightgrey;
        color: black;
        font-family: "Baloo Thambi 2", sans-serif;
        font-weight: 400;
        text-decoration: none;
        padding: 7px 10px 7px 10px;
        font-size: 20px;
        outline: none;
    }

        #buttonRemoveFacility:hover {
            background-color: darkgrey;
            color: white;
            font-size: 21px;
        }

    #sel-facility {
        padding: 2px 5px 2px 5px;
        text-align: center;
        margin-left: 20px;
        margin-bottom: 40px;
    }

    #new-EOIDs {
        padding: 2px 5px 2px 5px;
        text-align: center;
        margin-left: 20px;
        margin-bottom: 40px;
        display: none;
    }

    #destinationNoEU {
        display: none;
    }
</style>