@model DispatchReport

@{
    ViewData["Title"] = "Informe de Envíos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="title">@ViewData["Title"]</h1>
<div class="sep"></div>

<link rel="stylesheet" href="~/css/mainbody.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.css" />
<link href="~/css/Tables.css" rel="stylesheet" />

<script src="~/js/Tables.js"></script>

<div class="row">
    <form class="form-x" asp-controller="Reports" asp-action="FilterDispatch" method="post" enctype="multipart/form-data">
        <div class="row" id="content_data">
            <label class="col-2 control-label">Fecha de envío desde</label>
            <div class="col-3 demo-section k-content" id="ppp">
                <div id="dtpickerSelect">
                    <input type="date" value="" asp-for="DateFilters.From" />
                </div>
            </div>
            <label class="col-2 control-label">Fecha de envío hasta</label>
            <div class="col-3 demo-section k-content" id="ppp">
                <div id="dtpickerSelect">
                    <input type="date" value="" asp-for="DateFilters.To" />
                </div>
            </div>
        </div>
        <div class="row" id="content_data" style="margin-top:20px;">
            <div class="col-10" style="text-align:right">
                <button type="button" id="button-cancel-filters" class="btn btn-default" onclick="javascript:window.location.reload(false);">
                    Cancelar
                </button>
            </div>
            <div class="col-2" style="text-align:right">
                <button class="btn btn-primary" id="button-apply-filters" type="submit">
                    Aplicar filtros
                </button>
            </div>
        </div>
    </form>
</div>

<div class="sep"></div>

<table id="dataTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%" style="margin-top:100px;">
    <thead>
        <tr>
            <th class="th-sm">
                Facility

            </th>
            <th class="th-sm">
                Fecha de envío

            </th>
            <th class="th-sm">
                Hora de envío

            </th>
            <th class="th-sm">
                Destino europeo

            </th>
            <th class="th-sm">
                Facility ID

            </th>
            <th class="th-sm">
                País

            </th>
            <th class="th-sm">
                Ciudad

            </th>
            <th class="th-sm">
                Dirección

            </th>
            <th class="th-sm">
                CP

            </th>
            <th class="th-sm">
                Tipo de transporte

            </th>
            <th class="th-sm">
                Vehiculo

            </th>
            @*<th class="th-sm">
            Seriales

            </th>
            <th class="th-sm">
                Facilities

            </th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var element in Model.Elements)
        {
            <tr>
                <td>@element.Facility</td>
                <td>@element.DispatchDate</td>
                <td>@element.DispatchHour</td>
                <td>@element.DestinationEU</td>
                <td>@element.DestinationName</td>
                <td>@element.DestinationCountry</td>
                <td>@element.DestinationCity</td>
                <td>@element.DestinationAddress</td>
                <td>@element.DestinationZipCode</td>
                <td>@element.TransportMode</td>
                <td>@element.Vehicle</td>
                @*<td>button para las facilities</td>*@
                @*<td>button para los seriales</td>*@
            </tr>
        }
    </tbody>
</table>

<style>

    input {
        font-size: 20px;
    }
</style>

