@model InvoiceFilters

@{
    ViewData["Title"] = "Informe de Facturas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="title">@ViewData["Title"]</h1>
<div class="sep"></div>

<link rel="stylesheet" href="~/css/mainbody.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.css" />
<link href="~/css/Tables.css" rel="stylesheet" />

<script src="~/js/Tables.js"></script>

<div class="row">
    <form class="form-x" asp-controller="Reports" asp-action="FilterInvoice" method="post" enctype="multipart/form-data">
        <div class="row" id="content_data">
            <label class="col-2 control-label">Fecha de factura desde</label>
            <div class="col-3 demo-section k-content" id="ppp">
                <div id="dtpickerSelect">
                    <input type="date"  asp-for="From" />
                </div>
            </div>
            <label class="col-2 control-label">Fecha de factura hasta</label>
            <div class="col-3 demo-section k-content" id="ppp">
                <div id="dtpickerSelect">
                    <input type="date"  asp-for="To" />
                </div>
            </div>
        </div>
        <div class="row" id="content_data">
            <label class="col-2 control-label">Id de factura</label>
            <div class="col-5">
                <input placeholder="Id" class="form-control" type="text" asp-for="Id" />
            </div>
            <label class="col-2 control-label">Comprador en EU</label>
            <div class="col-1">
                <input type="checkbox" checked="checked" asp-for="BuyerEU" />
            </div>
        </div>
        <div class="row" id="content_data">
            <label class="col-2 control-label">Facility comprador</label>
            <div class="col-3">
                <input placeholder="Facility" class="form-control" type="text" asp-for="BuyerID" />
            </div>
        </div>
        <div class="row" id="content_data">
            <label class="col-2 control-label">Precio factura</label>
            <div class="col-2">
                <input placeholder="Precio" class="form-control" type="number" asp-for="Price" />
            </div>
            <label class="col-1 control-label">Moneda</label>
            <div class="col-2">
                <input placeholder="Moneda" class="form-control" type="text" asp-for="Currency" />
            </div>
        </div>
        <div class="row" id="content_data" style="margin-top:20px;">
            <div class="col-10" style="text-align:right">
                <button type="button" id="button-cancel-filters" class="btn btn-default" onclick="javascript:window.location.reload(false);">
                    Cancelar
                </button>
            </div>
            <div class="col-2" style="text-align:right">
                <button class="btn btn-primary" id="button-apply-filters" type="submit">
                    Aplicar filtros
                </button>
            </div>
        </div>
    </form>
</div>

<div class="sep"></div>

<table id="dataTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%" style="margin-top:100px;">
    <thead>
        <tr>
            <th class="th-sm">
                ID factura

            </th>
            <th class="th-sm">
                Fecha factura

            </th>
            <th class="th-sm">
                Precio

            </th>
            <th class="th-sm">
                Moneda

            </th>
            <th class="th-sm">
                Comprador europeo

            </th>
            <th class="th-sm">
                FID comprador

            </th>
            <th class="th-sm">
                Nombre del comprador

            </th>
            <th class="th-sm">
                País

            </th>
            <th class="th-sm">
                Ciudad

            </th>
            <th class="th-sm">
                Dirección

            </th>
            <th class="th-sm">
                CP

            </th>
            <th class="th-sm">
                Seriales

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var element in ViewBag.InvoicesReport)
        {
            <tr>
                <td>@element.Id</td>
                <td>@element.InvoiceDate.ToString("dd/MM/yyyy")</td>
                <td>@element.Price</td>
                <td>@element.Currency</td>
                @if (element.BuyerEU == true)
                {
                    <td>Si</td>
                }
                else
                {
                    <td>No</td>
                }
                <td>@element.BuyerID</td>
                <td>@element.BuyerName</td>
                <td>@element.BuyerCountry</td>
                <td>@element.BuyerCity</td>
                <td>@element.BuyerAddress</td>
                <td>@element.BuyerZipCode</td>
                <td>
                    @foreach (var serial in element.Serials)
                    {
                        <div id="ids">Id : @serial.Id </div>
                        <div id="idsserial">Serial : @serial.Serial </div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<style>
    #ids, #idsserial {
        width: 200px;
        text-align: center;
    }

    #ids {
        border-top: 3px solid lightgrey;
        border-left: 3px solid lightgrey;
        border-right: 3px solid lightgrey;
    }

    #idsserial {
        border-left: 3px solid lightgrey;
        border-right: 3px solid lightgrey;
        border-bottom: 3px solid lightgrey;
    }

    input {
        font-size:20px;
    }

</style>
