@model SerialFilters

@{
    ViewData["Title"] = "Informe de Seriales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="title">@ViewData["Title"]</h1>
<div class="sep"></div>

<link rel="stylesheet" href="~/css/mainbody.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.css" />
<link href="~/css/Tables.css" rel="stylesheet" />

<script src="~/js/Tables.js"></script>

<script>
    $(document).ready(function () {
    var status = '@ViewBag.Status';
    if (status != '') {
        alert(status);
    }
    });
</script>

<div class="row">
    <form class="form-x" asp-controller="Reports" asp-action="FilterSerial" method="post" enctype="multipart/form-data">
        <h1 class="subtitle">Filtros</h1>
        <div class="row" id="content_data" style="margin-top:20px;">
            <label class="col-2 control-label">Serial</label>
            <div class="col-7">
                <input placeholder="Serial" class="form-control" type="text" asp-for="Serial" />
            </div>
        </div>
        <div class="row" id="content_data">
            <label class="col-2 control-label">Id </label>
            <div class="col-2">
                <input placeholder="Id" class="form-control" type="number" asp-for="Id" />
            </div>
        </div>
        <h1 class="subtitle">Documento del informe</h1>
        <div class="row" id="content_data" style="margin-top:50px;">
            <label class="col-2 control-label">Acciones a realizar</label>
            <input asp-for="DocAction" type="radio" id="option" name="DocAction" value="" checked>
            <label for="Nada">Nada</label><br>
            <input asp-for="DocAction" type="radio" id="option" name="DocAction" value="Update">
            <label for="Actualizar">Actualizar documento</label><br>
            @*<input asp-for="DocAction"type="radio" id="option" name="DocAction" value="Create">
            <label for="Crear">Crear documento</label>*@
        </div>
        <div class="row" id="content_data">
            <label class="col-2 control-label">Email</label>
            <div class="col-4">
                <input placeholder="Email donde desee recibir el documento" class="form-control" type="email" asp-for="Email" />
            </div>
        </div>
        <div class="row" id="content_data">
            <label class="col-2 control-label">Intervalo de actualizacion</label>
            <div class="col-3">
                <select asp-for="Interval">
                    <option value="">- Selecciona -</option>
                    <option value="Hora">Cada minuto</option>
                    <option value="Dia">Cada dia</option>
                    <option value="Semana">Cada semana</option>
                </select>
            </div>
        </div>

        <div class="row" id="content_data" style="margin-top:20px;">
            <div class="col-10" style="text-align:right">
                <button type="button" id="button-cancel-filters" class="btn btn-default" onclick="javascript:window.location.reload(false);">
                    Cancelar
                </button>
            </div>
            <div class="col-2" style="text-align:right">
                <button class="btn btn-primary" id="button-apply-filters" type="submit">
                    Aplicar filtros
                </button>
            </div>
        </div>
    </form>
</div>

<div class="sep"></div>

<table id="dataTable" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%" style="margin-top:100px;">
    <thead>
        <tr>
            <th class="th-sm">
                Id

            </th>
            <th class="th-sm">
                Serial

            </th>
            <th class="th-sm">
                IDs Recepciones

            </th>
            <th class="th-sm">
                IDs Envios

            </th>
            <th class="th-sm">
                IDs Facturas

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var element in ViewBag.SerialsReport)
        {
            <tr>
                <td>@element.Id</td>
                <td>@element.Serial</td>
                <td>
                @foreach (var arrival in element.ArrivalSerials)
                {   
                    <div id="ids">Recepcion - @arrival.ArrivalID </div>
                }
                </td>
                <td>
                @foreach (var arrival in element.DispatchSerials)
                {   
                    <div id="ids">Envio - @arrival.DispatchID </div>
                }
                </td>
                <td>
                @foreach (var arrival in element.InvoiceSerials)
                {   
                    <div id="ids">Factura - @arrival.InvoiceID </div>
                }
                </td>
            </tr>
        }
    </tbody>
</table>

<style>
    #ids {
        border-bottom:5px solid white;
        width:100%;
        text-align:center;
        background-color:#e2e2e2;
    }

    input {
        font-size: 20px;
    }

    input {
        font-size: 20px;
    }

    select, select option {
        font-size: 20px;
    }

    #option {
        width: 50px;
        margin: 10px;
        margin-right: 4px;
    }

</style>

