@model ArrivalFilters

@{
    ViewData["Title"] = "Informe de Recepciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="title">@ViewData["Title"]</h1>
<div class="sep"></div>

<link rel="stylesheet" href="~/css/mainbody.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.css" />
<link href="~/css/Tables.css" rel="stylesheet" />

<script src="~/js/Tables.js"></script>

<div class="row">
    <form class="form-x" asp-controller="Reports" asp-action="FilterArrival" method="post" enctype="multipart/form-data">
        <div class="row" id="content_data">
            <label class="col-2 control-label">Fecha desde</label>
            <div class="col-3 demo-section k-content" id="ppp">
                <div id="dtpickerSelect">
                    <input type="date" asp-for="From" />
                </div>
            </div>
            <label class="col-1 control-label">Fecha hasta</label>
            <div class="col-3 demo-section k-content" id="ppp">
                <div id="dtpickerSelect">
                    <input type="date" asp-for="To" />
                </div>
            </div>
        </div>
        <div class="row" id="content_data">
            <label class="col-2 control-label">FID</label>
            <div class="col-7">
                <input placeholder="FID" class="form-control" type="text" asp-for="FID" />
            </div>
        </div>
        <div class="row" id="content_data">
            <label class="col-2 control-label">Id </label>
            <div class="col-2">
                <input placeholder="Id" class="form-control" type="number" asp-for="Id" />
            </div>
        </div>
        <div class="row" id="content_data" style="margin-top:20px;">
            <div class="col-10" style="text-align:right">
                <button type="button" id="button-cancel-filters" class="btn btn-default" onclick="javascript:window.location.reload(false);">
                    Cancelar
                </button>
            </div>
            <div class="col-2" style="text-align:right">
                <button class="btn btn-primary" id="button-apply-filters" type="submit">
                    Aplicar filtros
                </button>
            </div>
        </div>
    </form>
</div>

<div class="sep"></div>

<table id="dataTable" class="table" cellspacing="0" width="100%" style="margin-top:100px;">
    <thead>
        <tr>
            <th class="th-sm">
                Id

            </th>
            <th class="th-sm">
                FID

            </th>
            <th class="th-sm">
                Comentarios

            </th>
            <th class="th-sm">
                    Seriales

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var element in ViewBag.ArrivalsReport)
        {
            <tr>
                <td>@element.Id</td>
                <td>@element.FID</td>
                <td>@element.Comments</td>
                <td>
                    @foreach (var serial in element.Serials)
                    {
                        <div id="ids">Id : @serial.Id </div>
                        <div id="idsserial">Serial : @serial.Serial </div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<style>
    #ids, #idsserial {
        width: 200px;
        text-align: center;
    }

    #ids {
        border-top: 3px solid lightgrey;
        border-left: 3px solid lightgrey;
        border-right: 3px solid lightgrey;
    }

    #idsserial {
        border-left: 3px solid lightgrey;
        border-right: 3px solid lightgrey;
        border-bottom: 3px solid lightgrey;
    }

    input {
        font-size: 20px;
    }
</style>

