@model DispatchFilters

@{
    ViewData["Title"] = "Informe de Envíos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="title">@ViewData["Title"]</h1>
<div class="sep"></div>

<link rel="stylesheet" href="~/css/mainbody.css" />
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.css" />
<link href="~/css/Tables.css" rel="stylesheet" />

<script src="~/js/Tables.js"></script>

<div class="row">
    <form class="form-x" asp-controller="Reports" asp-action="FilterDispatch" method="post" enctype="multipart/form-data">
        <div class="row" id="content_data">
            <label class="col-2 control-label">Fecha de envío desde</label>
            <div class="col-3 demo-section k-content" id="ppp">
                <div id="dtpickerSelect">
                    <input type="date" value="" asp-for="From" />
                </div>
            </div>
            <label class="col-2 control-label">Fecha de envío hasta</label>
            <div class="col-3 demo-section k-content" id="ppp">
                <div id="dtpickerSelect">
                    <input type="date" value="" asp-for="To" />
                </div>
            </div>
        </div>
        <div class="row" id="content_data">
            <label class="col-2 control-label">Id del envío</label>
            <div class="col-5">
                <input placeholder="Id" class="form-control" type="text" asp-for="Id" />
            </div>
            <label class="col-2 control-label">Destinación en EU</label>
            <div class="col-1">
                <input type="checkbox" checked="checked" id="destinationEU" asp-for="DestinationEU" />
            </div>
        </div>
        <div class="row" id="content_data">
            <label class="col-2 control-label">Facility de envío</label>
            <div class="col-3">
                <input placeholder="Facility" class="form-control" type="text" asp-for="FID" />
            </div>
            <label class="col-2 control-label">Facility de destinacion</label>
            <div class="col-3">
                <input placeholder="Destination Facility" class="form-control" type="text" asp-for="DestinationFID" />
            </div>
        </div>
        <div class="row" id="content_data">
            <label class="col-2 control-label">TransportMode</label>
            <div class="col-3">
                <input placeholder="TransportMode" class="form-control" type="text" asp-for="TransportMode" />
            </div>
            <label class="col-2 control-label">Vehicle</label>
            <div class="col-3">
                <input placeholder="Vehicle" class="form-control" type="text" asp-for="Vehicle" />
            </div>
        </div>
        <div class="row" id="content_data" style="margin-top:20px;">
            <div class="col-10" style="text-align:right">
                <button type="button" id="button-cancel-filters" class="btn btn-default" onclick="javascript:window.location.reload(false);">
                    Cancelar
                </button>
            </div>
            <div class="col-2" style="text-align:right">
                <button class="btn btn-primary" id="button-apply-filters" type="submit">
                    Aplicar filtros
                </button>
            </div>
        </div>
    </form>
</div>

<div class="sep"></div>

<table id="dataTable" class="table" cellspacing="0">
    <thead>
        <tr>
            <th class="th-sm">
                ID

            </th>
            <th class="th-sm">
                FID de envío

            </th>
            <th class="th-sm">
                Fecha de envío

            </th>
            <th class="th-sm">
                Destino europeo

            </th>
            <th class="th-sm">
                FID de destino

            </th>
            <th class="th-sm">
                País

            </th>
            <th class="th-sm">
                Ciudad

            </th>
            <th class="th-sm">
                Dirección

            </th>
            <th class="th-sm">
                CP

            </th>
            <th class="th-sm">
                Tipo de transporte

            </th>
            <th class="th-sm">
                Vehiculo

            </th>
            <th class="th-sm">
                Seriales

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var element in ViewBag.DispatchesReport)
        {
            <tr>
                <td>@element.Id</td>
                <td>@element.FID</td>
                <td>@element.DispatchDate.ToString("dd/MM/yyyy")</td>
                @if (element.DestinationEU == true)
                {
                    <td>Si</td>
                }
                else
                {
                    <td>No</td>
                }
                <td>@element.DestinationFID</td>
                <td>@element.DestinationCountry</td>
                <td>@element.DestinationCity</td>
                <td>@element.DestinationAddress</td>
                <td>@element.DestinationZipCode</td>
                <td>@element.TransportMode</td>
                <td>@element.Vehicle</td>
                <td>@element.SerialsJson</td>
            </tr>
        }
    </tbody>
</table>

<style>

    input {
        font-size: 20px;
    }
</style>

